{{#md-sidenav params=(hash menuWidth=300) classNames="fixed" as |sn|}}
  <li class="logo">
    {{#link-to 'place' classNames="logo-container brand-logo"}}
      <img src="/assets/call-script-w20-1-114.png" class="front-page-logo"/>
    {{/link-to}}
  </li>
  {{#each model as |script|}}
    {{#sn.link-to 'script' script.id class=""}}
      {{fa-icon "check" class="green-text" style="visibility: hidden;" size="lg" fixedWidth=true}}
      {{!--
      {{fa-icon "check" class="green-text" size="lg" fixedWidth=true}}
      {{fa-icon "close" class="red-text" size="lg" fixedWidth=true}}
      {{fa-icon "ellipsis-h" class="pastel-text pastel-gray" size="lg" fixedWidth=true}}
      {{fa-icon "check" class="green-text" style="visibility: hidden;" size="lg" fixedWidth=true}}
      --}}
      {{script.title}}
    {{/sn.link-to}}
  {{/each}}





{{/md-sidenav}}
<main class="main-content">
  <div id="sidenav-container"></div>

  {{#md-nav class='black main-nav' as |n|}}
    <div>
      {{#n.title 'place' classNames='doc-nav left--sm'}}
        Call Script
      {{/n.title}}
      <a data-activates={{n.sidenavId}} class="button-collapse hide-on-med-and-up">
        <i class="material-icons">menu</i>
      </a>

      {{#n.menu class="right" as |m|}}
        {{#m.link-to 'about' classNames='last-button'}}
          About
        {{/m.link-to}}
      {{/n.menu}}
    </div>
    <div style="clear: both;">
    </div>
    {{#n.sidenav params=(hash menuWidth=240) classNames="pop-out-nav" as |sn| }}
      <li class="logo pop">
        {{#link-to 'place' classNames="logo-container brand-logo"}}
          <img src="/assets/call-script-w20-1-114.png" class="front-page-logo"/>
        {{/link-to}}
      </li>

      {{#each model as |script|}}
        {{#sn.link-to 'script' script.id}}
          {{fa-icon "check" class="green-text" style="visibility: hidden;" size="lg" fixedWidth=true}}
          {{!--
          {{fa-icon "check" class="green-text" size="lg" fixedWidth=true}}
          {{fa-icon "close" class="red-text" size="lg" fixedWidth=true}}
          {{fa-icon "ellipsis-h" class="pastel-text pastel-gray" size="lg" fixedWidth=true}}
          {{fa-icon "check" class="green-text" style="visibility: hidden;" size="lg" fixedWidth=true}}
          --}}
          {{script.title}}
        {{/sn.link-to}}
      {{/each}}

    {{/n.sidenav}}


  {{/md-nav}}


  {{outlet}}
</main>
