<div style="clear: both;" class="cause-nav">
  {{#link-to 'place' class="left valign"}}
    {{#md-btn class="white btn-flat btn-large"}}
      {{fa-icon "chevron-left"}}
    {{/md-btn}}
  {{/link-to}}
  {{#link-to 'place' class="right valign"}}
    {{#md-btn class="white btn-flat btn-large"}}
      {{fa-icon "chevron-right"}}
    {{/md-btn}}
  {{/link-to}}
  <h4 class="center-align">Tell Reps #NoBannon</h4>
</div>

{{outlet}}

<div>
  <h6 class="grey-text">Share this script</h6>
  <div class="center-align">
    {{#md-btn class="blue"}}
      {{fa-icon "envelope" fixedWidth=true}}
    {{/md-btn}}&nbsp;{{#md-btn class="blue"}}
      {{fa-icon "facebook" fixedWidth=true}}
    {{/md-btn}}&nbsp;{{#md-btn class="blue"}}
      {{fa-icon "twitter" fixedWidth=true}}
    {{/md-btn}}
  </div>
</div>
<br/>
<div>
  <h6 class="grey-text">Source</h6>
  <a target="_blank" style="opacity: 0.62;" href="https://docs.google.com/spreadsheets/d/174f0WBSVNSdcQ5_S6rWPGB3pNCsruyyM_ZRQ6QUhGmo/htmlview?usp=sharing&sle=true#">
    "We're His Problem Now" Calling Sheet
  </a>
</div>
